.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-dark {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-header-light {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  color: black;
  border-radius: 20px;
  background-color: yellow;
  color: black;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
}
.btn-juicy {
  box-shadow: 5px 10px#aaa;
  transition: 0.2s;
}
.btn-juicy:hover:active {
  transition: 0.1s;
  box-shadow: 1px 2px#444;
  transform: translate(5px, 10px);
}
.btn-juicy:hover {
  box-shadow: 6px 12px#b4b4b4;
  transform: translate(-1px, -2px);
}
/* 87cefa */
.backDoor {

  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("./portal.gif");
  background-size: contain;
  margin: 0 auto;
  bottom: 50px;
 
}

.door {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}

.blue {
  width: 2.5em;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: #206eff;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;

}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background:#282c34;
  border-bottom-left-radius: 10px;
 
  
}